@import "UISystem";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: $m;
  padding: 3rem;
  scroll-behavior: smooth;
  background-color: $background;
}

html {
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  border-radius: $xxs;
  padding: $h;
  width: 1200px;
  font: {
    family: "Montserrat";
  }
  background: linear-gradient(
    220deg,
    #f6d3d1ff 2%,
    #f2bbfeff 10%,
    $background 45%
  );
  border: 1px solid rgba($primary, 0.2);
  box-shadow: 0rem 1rem 1rem 0.5rem rgba($primary, $alpha: 0.1);
}
#root {
  width: 100%;
}

header {
  display: flex;
}

nav {
  display: flex;
  align-items: baseline;
  flex: 0 1 100%;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    column-gap: $xh;
    font: {
      family: "Montserrat Semi Bold";
      size: $m;
    }
    text: {
      transform: capitalize;
    }
    li {
      transition: all 0.3s;
      &:last-of-type {
        background-color: rgba($primary, 0.7);
        a {
          display: block;
          padding: $xxs $h;
          color: $background;
        }
        border-radius: $xxs;
        &:hover {
          background-color: $primary;
        }
      }
      a {
        text-decoration: none;
        color: $heading;
      }
      &:not(:last-of-type):hover {
        transform: scale(1.1);
        a {
          color: $primary;
        }
      }
    }
  }
}

.open-to-work {
  display: flex;
  column-gap: $m;
  svg {
    animation: flashingLight 2s infinite ease-out alternate;
    border-radius: 100%;
  }
  span {
    font: {
      family: "Montserrat Bold";
    }
    text: {
      transform: uppercase;
    }

    color: $subheading;
  }
}

.hero {
  margin: {
    top: $xh;
  }
  display: flex;
  article {
    flex: 1 1 50%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $xl;
    &:first-of-type {
      p {
        &:first-of-type {
          color: $primary;
          font: {
            family: "Montserrat Semi Bold";
            size: $xxl;
          }
          text: {
            transform: uppercase;
          }
        }
        &:last-of-type {
          color: $subheading;
          padding: {
            top: $l;
          }
          font: {
            family: "Montserrat Semi Bold";
            size: $xl;
          }

          &::first-letter {
            text: {
              transform: capitalize;
            }
          }
        }
      }
      h1 {
        display: inline-flex;
        flex-flow: column nowrap;
        text: {
          transform: capitalize;
        }
        font: {
          family: "Montserrat Bold";
          size: $xh;
        }
        span {
          text: {
            transform: uppercase;
          }
        }
      }
    }
    &:last-of-type {
      align-items: center;
      div {
        width: 450px;
      }
    }
  }
}

.about,
.work {
  margin: {
    top: calc(3 * #{$xh});
  }
  display: flex;

  padding: {
    left: $h;
    right: $h;
  }
}
.about {
  article {
    flex: 1 1 50%;
    display: flex;
    &:first-of-type {
      justify-content: center;
      align-items: center;
      img {
        width: 350px;
        aspect-ratio: 1;
        filter: grayscale(0.7) drop-shadow(0rem -4rem 5rem rgba($primary, 0.5))
          drop-shadow(-5rem -5rem 5rem rgba($secondary, 0.7))
          drop-shadow(5rem -5rem 5rem $tertiary);
      }
    }
    &:last-of-type {
      flex-flow: column wrap;
      justify-content: flex-end;
      row-gap: $l;
      p {
        font: {
          size: $l;
        }
        max-width: 40ch;
      }
      div {
        display: flex;
        column-gap: $m;
      }
    }
  }
}

.publications {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: $l;
  margin: {
    top: calc(3 * #{$xh});
  }
  position: relative;

  article {
    display: flex;
    flex-flow: row nowrap;
    &:last-of-type {
      column-gap: $m;
      overflow-x: scroll;
      /* Hide scrollbar for Chrome, Safari and Opera */

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      width: calc(3 * 350px + 2 * #{$m});
      padding: $h 0;
      scroll-snap-type: x mandatory;
      &:hover {
        span {
          display: flex;
        }
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        border-radius: 100%;
        cursor: pointer;
        background-color: $primary;
        height: 50px;
        aspect-ratio: 1;
        display: none;
        font: {
          size: $xl;
        }
        color: $background;
        &[data-direction="left"] {
          left: -$m;
        }
        &[data-direction="right"] {
          right: -$m;
        }
      }

      div {
        scroll-snap-align: start;
        min-width: 350px;
        border: 1px solid rgba($primary, 0.4);
        box-shadow: 0rem 0rem 1rem 0.5rem rgba($primary, $alpha: 0.1);
        border-radius: $xxs;
        padding: $h;
        display: flex;
        flex-flow: column nowrap;
        row-gap: $xxs;
        a {
          text-decoration: none;
          color: $heading;
          &:hover {
            color: $primary;
          }
        }
        p {
          color: $subheading;
          font: {
            size: $s;
          }
          &:first-of-type {
            font: {
              family: "Montserrat Semi Bold";
            }
          }
        }
      }
    }
  }
}

.work {
  
  article {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 50%;
    &:first-of-type {
      row-gap: $h;
      h4 {
        display: inline-flex;
        column-gap: $m;
        color: $subheading;
        text: {
          transform: capitalize;
        }
        font: {
          size: $xl;
        }
        svg {
          background-color: $primary;
          color: $background;
          border-radius: 100%;
        }
      }
      p {
        margin: {
          left: $xxl;
        }
        color: $subheading;
        span {
          font: {
            family: "Montserrat Semi Bold";
          }
        }
      }
      ul {
        display: flex;
        flex-flow: column nowrap;
        row-gap: $m;
        list-style-type: none;
        border-left: 2px solid $primary;

        details {
          cursor: pointer;
          summary {
            list-style-type: none;
            display: flex;
            flex-flow: column nowrap;
          }
          &[open] {
            h4 {
              svg {
                transform: rotate(90deg);
                transition: all 0.3s;
              }
            }
          }
        }
        li {
          margin-left: -$xs;
        }
        ul {
          border-left: none;
          color: $subheading;
          row-gap: $xxs;

          margin: {
            top: $l;
            left: $xxl;
          }
          li {
            margin-left: 0;
            display: inline-flex;
            align-items: baseline;
            column-gap: $xxs;
            &:before {
              content: "+";
              color: $primary;
            }
          }
        }
      }
    }
    &:last-of-type {
      justify-content: flex-end;
      align-items: center;
     
    }
  }
}

.hero ul,
.about ul {
  margin: {
    top: $xxl;
  }
  list-style-type: none;
  display: flex;
  column-gap: $xl;
  li {
    a {
      transition: all 0.3s;
      display: inline-flex;
      color: $primary;
      padding: $xxs;
      border: 2px solid $primary;
      border-radius: 50%;
      &:hover {
        background-color: $primary;
        color: $background;
      }
      font: {
        size: $xl;
      }
    }
  }
}

.btn {
  transition: all 0.3s;
  padding: $s $xxl;
  text: {
    decoration: none;
  }
  &:first-letter {
    text: {
      transform: capitalize;
    }
  }
  border-radius: $xxs;
  min-width: 100px;
  height: 50px;
  opacity: 0.8;

  font: {
    family: "Montserrat Semi Bold";
  }
}
.primary-btn {
  background-color: $primary;
  color: $background;
  &:hover {
    opacity: 1;
  }
}
.secondary-btn {
  background-color: transparent;
  color: $secondary;
  border: 2px solid $secondary;
  &:hover {
    background-color: $secondary;
    color: $background;
  }
}
h2 {
  font: {
    family: "Montserrat Bold";
    size: $h;
  }
  text: {
    transform: capitalize;
  }
}

h3,
h4 {
  font: {
    family: "Montserrat Bold";
  }
}
@keyframes flashingLight {
  0% {
    filter: grayscale(0);
    box-shadow: 0 0 $m $xxs $secondary;
    transform: scale(1.1);
  }
  100% {
    filter: grayscale(1);
  }
}
