@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat Semi Bold";
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: "Montserrat Bold";
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  padding: 3rem;
  scroll-behavior: smooth;
  background-color: #f3f6fd;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: 1200px;
  font-family: "Montserrat";
  background: linear-gradient(220deg, #f6d3d1 2%, #f2bbfe 10%, #f3f6fd 1000px);
  border: 1px solid rgba(46, 91, 255, 0.2);
  box-shadow: 0rem 1rem 1rem 0.5rem rgba(46, 91, 255, 0.1);
}

#root {
  width: 100%;
}

header {
  display: flex;
}

nav {
  margin-top: 48px;
  margin-left: 72px;
  margin-right: 72px;
  display: flex;
  align-items: baseline;
  flex: 0 1 100%;
  justify-content: space-between;
}
nav ul {
  display: flex;
  align-items: baseline;
  list-style-type: none;
  column-gap: 72px;
  font-family: "Montserrat Semi Bold";
  font-size: 16px;
  text-transform: capitalize;
}
nav ul li {
  transition: all 0.3s;
}
nav ul li:last-of-type {
  background-color: rgba(46, 91, 255, 0.7);
  border-radius: 10px;
}
nav ul li:last-of-type a {
  display: block;
  padding: 10px 48px;
  color: #f3f6fd;
}
nav ul li:last-of-type:hover {
  background-color: #2e5bff;
}
nav ul li a {
  text-decoration: none;
  color: #303030;
}
nav ul li:not(:last-of-type):hover {
  transform: scale(1.1);
}
nav ul li:not(:last-of-type):hover a {
  color: #2e5bff;
}

.open-to-work {
  display: flex;
  column-gap: 36px;
}
.open-to-work span {
  position: absolute;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
}
.open-to-work span:first-of-type {
  background-color: #33c3ba;
}
.open-to-work span:nth-of-type(2) {
  background-color: transparent;
  border: 2px solid #33c3ba;
  animation: flashingLight 3s linear 2s infinite;
}
.open-to-work span:last-of-type {
  background-color: rgba(51, 195, 186, 0.4);
  animation: flashingLight 2s linear 0s infinite;
}
.open-to-work svg {
  animation: flashingLight 2s infinite ease-out alternate;
  border-radius: 100%;
}
.open-to-work p {
  font-family: "Montserrat Bold";
  text-transform: uppercase;
  color: #6d709d;
}

.hero {
  margin-top: 72px;
  margin-left: 72px;
  margin-right: 72px;
  display: flex;
}
.hero article {
  flex: 1 1 50%;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 21px;
}
.hero article:first-of-type p:first-of-type {
  color: #2e5bff;
  font-family: "Montserrat Semi Bold";
  font-size: 36px;
  text-transform: uppercase;
}
.hero article:first-of-type p:last-of-type {
  color: #6d709d;
  padding-top: 18px;
  font-family: "Montserrat Semi Bold";
  font-size: 21px;
}
.hero article:first-of-type p:last-of-type::first-letter {
  text-transform: capitalize;
}
.hero article:first-of-type h1 {
  display: inline-flex;
  flex-flow: column nowrap;
  text-transform: capitalize;
  font-family: "Montserrat Bold";
  font-size: 72px;
  font-weight: normal;
}
.hero article:first-of-type h1 span {
  text-transform: uppercase;
}
.hero article:last-of-type {
  align-items: center;
}
.hero article:last-of-type div {
  width: 450px;
}

.about,
.work,
.publications,
.training {
  margin-top: calc(3 * 72px);
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
}

.about article {
  flex: 1 1 50%;
  display: flex;
}
.about article:first-of-type {
  justify-content: center;
  align-items: center;
}
.about article:first-of-type img {
  width: 350px;
  aspect-ratio: 1;
  filter: grayscale(0.7) drop-shadow(0rem -4rem 5rem rgba(46, 91, 255, 0.3)) drop-shadow(-5rem -5rem 5rem rgba(51, 195, 186, 0.4)) drop-shadow(5rem -5rem 5rem rgba(196, 0, 240, 0.5019607843));
}
.about article:last-of-type {
  flex-flow: column wrap;
  justify-content: flex-end;
  row-gap: 18px;
}
.about article:last-of-type p {
  font-size: 18px;
  max-width: 40ch;
}
.about article:last-of-type div {
  display: flex;
  column-gap: 16px;
}

.publications {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: 18px;
  margin-top: calc(3 * 72px);
  position: relative;
}
.publications article {
  display: flex;
  flex-flow: row nowrap;
}
.publications article:last-of-type {
  column-gap: 10px;
  overflow-x: scroll;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  width: 100%;
  padding: 48px;
  scroll-snap-type: x mandatory;
}
.publications article:last-of-type::-webkit-scrollbar {
  display: none;
}
.publications article:last-of-type:hover span {
  display: flex;
}
.publications article:last-of-type span {
  top: 50%;
}
.publications article:last-of-type div {
  padding: 36px;
}
.publications article:last-of-type div a {
  text-decoration: none;
  color: #303030;
}
.publications article:last-of-type div a:hover {
  color: #2e5bff;
}
.publications article:last-of-type div p {
  color: #6d709d;
  font-size: 14px;
}
.publications article:last-of-type div p:first-of-type {
  font-family: "Montserrat Semi Bold";
}

.work article {
  display: flex;
  flex-flow: column wrap;
  flex: 1 1 50%;
}
.work article:first-of-type {
  row-gap: 48px;
}
.work article:first-of-type h4 {
  display: inline-flex;
  column-gap: 16px;
  color: #6d709d;
  text-transform: capitalize;
  font-size: 21px;
}
.work article:first-of-type h4 svg {
  background-color: #2e5bff;
  color: #f3f6fd;
  border-radius: 100%;
}
.work article:first-of-type p {
  margin-left: 36px;
  color: #6d709d;
}
.work article:first-of-type p span {
  font-family: "Montserrat Semi Bold";
}
.work article:first-of-type ul {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
  list-style-type: none;
  border-left: 2px solid #2e5bff;
}
.work article:first-of-type ul details {
  cursor: pointer;
}
.work article:first-of-type ul details summary {
  list-style-type: none;
  color: transparent;
  display: flex;
  flex-flow: column nowrap;
}
.work article:first-of-type ul details[open] h4 svg {
  transform: rotate(90deg);
  transition: all 0.3s;
}
.work article:first-of-type ul li {
  margin-left: -12px;
}
.work article:first-of-type ul ul {
  border-left: none;
  color: #6d709d;
  row-gap: 10px;
  margin-top: 18px;
  margin-left: 36px;
}
.work article:first-of-type ul ul li {
  margin-left: 0;
  display: inline-flex;
  align-items: baseline;
  column-gap: 10px;
}
.work article:first-of-type ul ul li:before {
  content: "+";
  color: #2e5bff;
}
.work article:last-of-type {
  justify-content: flex-end;
  align-items: center;
}

.training {
  flex-flow: column nowrap;
  row-gap: 36px;
  position: relative;
}
.training article {
  display: flex;
  column-gap: 10px;
}
.training article:first-of-type {
  justify-content: center;
}
.training article:last-of-type {
  padding: 48px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  /* Hide scrollbar for Chrome, Safari and Opera */
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
  flex-flow: row nowrap;
  width: 100%;
}
.training article:last-of-type::-webkit-scrollbar {
  display: none;
}
.training article:last-of-type div {
  padding: 21px;
}
.training article:last-of-type div p {
  color: #33c3ba;
  font-size: 18px;
  font-family: "Montserrat Semi Bold";
  text-transform: capitalize;
}
.training article:last-of-type div h4 {
  font-size: 21px;
}
.training article:last-of-type div ul {
  max-width: 45ch;
  margin-top: 21px;
  display: inline-flex;
  flex-flow: row wrap;
  list-style-type: none;
  column-gap: 10px;
}
.training article:last-of-type div ul li {
  color: #6d709d;
}
.training article:last-of-type div ul li:before {
  content: "#";
  color: #33c3ba;
}
.training article:last-of-type div a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  color: orange;
  border: 2px solid orange;
  border-radius: 100%;
  height: 40px;
  aspect-ratio: 1;
  margin-top: auto;
  align-self: flex-end;
  font-size: 21px;
}
.training article:last-of-type div a:hover {
  background-color: orange;
  color: #303030;
}
.training article:last-of-type span {
  top: 60%;
}

footer {
  display: flex;
  margin-top: 72px;
  background-color: #2e5bff;
  padding: 48px;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
footer h2 {
  color: #f3f6fd;
}
footer article {
  flex: 1 1 100%;
  display: flex;
}
footer article:first-of-type {
  flex-flow: column nowrap;
  row-gap: 48px;
}
footer article:first-of-type form {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
}
footer article:first-of-type form input,
footer article:first-of-type form textarea {
  outline: none;
  padding: 14px;
  font-family: "Montserrat Semi Bold";
  font-size: 16px;
  color: #f3f6fd;
  border-color: rgba(243, 246, 253, 0.5);
  border-style: solid;
}
footer article:first-of-type form input:focus,
footer article:first-of-type form textarea:focus {
  border-color: #f3f6fd;
}
footer article:first-of-type form input {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: none;
}
footer article:first-of-type form input::placeholder {
  color: #f3f6fd;
}
footer article:first-of-type form textarea {
  margin-top: 48px;
  resize: none;
  background-color: rgba(243, 246, 253, 0.1);
  border-radius: 10px;
  aspect-ratio: 1.628;
}
footer article:first-of-type form button {
  transition: all 0.3s;
  bottom: 10px;
  right: 10px;
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 48px;
  background-color: rgba(243, 246, 253, 0.3);
  color: #f3f6fd;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  font-family: "Montserrat Semi Bold";
  font-size: 21px;
}
footer article:first-of-type form button:hover {
  color: #303030;
  background-color: #f3f6fd;
}
footer article:first-of-type form button:disabled {
  background-color: #33c3ba;
}
footer article:first-of-type form button:disabled:hover {
  color: #f3f6fd;
  cursor: not-allowed;
}
footer article:last-of-type {
  align-items: flex-end;
  justify-content: flex-end;
}
footer article:last-of-type ul {
  display: flex;
  list-style-type: none;
  column-gap: 21px;
  font-size: 21px;
}
footer article:last-of-type ul li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  color: rgba(243, 246, 253, 0.7);
  padding: 10px;
  border-radius: 48px;
  background-color: rgba(243, 246, 253, 0.3);
  font-family: "Montserrat Semi Bold";
  font-size: 18px;
}
footer article:last-of-type ul li a:hover {
  color: #303030;
  background-color: #f3f6fd;
}

.publications span,
.training span {
  position: absolute;
  background-color: rgba(46, 91, 255, 0.1);
  transition: all 0.3s;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 100%;
  color: #6d709d;
  cursor: pointer;
}
.publications span[data-direction=left],
.training span[data-direction=left] {
  left: -16px;
}
.publications span[data-direction=right],
.training span[data-direction=right] {
  right: -16px;
}
.publications span:hover,
.training span:hover {
  background-color: #2e5bff;
  color: #f3f6fd;
}

.publications article:last-of-type div,
.training article:last-of-type div {
  scroll-snap-align: center;
  flex: 0 0 calc(33% - 0.5 *10px);
  border: 1px solid rgba(46, 91, 255, 0.4);
  box-shadow: 0rem 0rem 1rem 0.5rem rgba(46, 91, 255, 0.1);
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
}

.hero ul,
.about ul {
  margin-top: 36px;
  list-style-type: none;
  display: flex;
  column-gap: 21px;
}
.hero ul li a,
.about ul li a {
  transition: all 0.3s;
  display: inline-flex;
  color: #2e5bff;
  padding: 10px;
  border: 2px solid #2e5bff;
  border-radius: 50%;
  font-size: 21px;
}
.hero ul li a:hover,
.about ul li a:hover {
  background-color: #2e5bff;
  color: #f3f6fd;
}

.btn {
  transition: all 0.3s;
  padding: 14px 36px;
  text-decoration: none;
  border-radius: 10px;
  min-width: 100px;
  height: 50px;
  opacity: 0.8;
  font-family: "Montserrat Semi Bold";
}
.btn:first-letter {
  text-transform: capitalize;
}

.primary-btn {
  background-color: #2e5bff;
  color: #f3f6fd;
}
.primary-btn:hover {
  opacity: 1;
}

.secondary-btn {
  background-color: transparent;
  color: #33c3ba;
  border: 2px solid #33c3ba;
}
.secondary-btn:hover {
  background-color: #33c3ba;
  color: #f3f6fd;
}

h2 {
  font-family: "Montserrat Bold";
  font-size: 48px;
  font-weight: normal;
  text-transform: capitalize;
}

h3,
h4 {
  font-family: "Montserrat Bold";
  font-weight: normal;
}

@keyframes flashingLight {
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html {
    padding: 0;
  }
  body {
    width: 100vw;
    border: none;
  }
  body,
  footer {
    border-radius: 0;
  }
  nav {
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 48px;
    margin-bottom: 72px;
  }
  nav ul li:last-of-type {
    background-color: transparent;
  }
  nav ul li:last-of-type a {
    display: block;
    padding: 0 0;
    color: #303030;
  }
  nav ul li:last-of-type:hover {
    background-color: transparent;
  }
  nav ul li:last-of-type:last-of-type:hover {
    transform: scale(1.1);
  }
  nav ul li:last-of-type:last-of-type:hover a {
    color: #2e5bff;
    background-color: transparent;
  }
  .open-to-work {
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 36px;
  }
  .hero {
    flex-flow: column nowrap;
  }
  .hero article:first-of-type p {
    max-width: 40ch;
  }
  .hero article:last-of-type {
    align-items: flex-end;
  }
  .hero article:last-of-type div {
    margin-top: -72px;
  }
  .hero article:last-of-type div div {
    width: 350px;
  }
  .work {
    flex-flow: column nowrap;
  }
  .work article:last-of-type div div {
    width: 350px;
  }
  .publications article:last-of-type span, .training article:last-of-type span {
    display: none;
  }
  .publications article:last-of-type div, .training article:last-of-type div {
    min-width: 350px;
    padding: 48px 21px;
    box-shadow: none;
  }
  .publications article:last-of-type:hover span, .training article:last-of-type:hover span {
    display: none;
  }
  footer article {
    flex: auto;
  }
  footer article:first-of-type {
    flex: 1 1 66%;
  }
  .about {
    margin-left: 0;
    margin-right: 0;
    padding-left: 36px;
    padding-right: 36px;
  }
  .btn {
    text-align: center;
    text-transform: capitalize;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  html {
    padding: 0;
  }
  body {
    width: 100vw;
    border: none;
    background: linear-gradient(220deg, #f6d3d1 2%, #f2bbfe 10%, #f3f6fd 600px);
  }
  body,
  footer {
    border-radius: 0;
  }
  nav ul {
    display: none;
  }
  .open-to-work p {
    font-size: 12px;
  }
  .hero {
    flex-flow: column nowrap;
    row-gap: 36px;
  }
  .hero article:first-of-type {
    row-gap: 0;
  }
  .hero article:first-of-type p:first-of-type {
    font-size: 21px;
  }
  .hero article:first-of-type p:last-of-type {
    font-size: 16px;
  }
  .hero article:first-of-type h1 {
    font-size: 36px;
  }
  .hero article:last-of-type {
    align-items: flex-end;
  }
  .hero article:last-of-type div {
    width: 200px;
  }
  .about {
    flex-flow: column nowrap;
  }
  .about article {
    flex: 1 1 100%;
  }
  .about article:first-of-type img {
    width: 250px;
  }
  .about article:last-of-type {
    align-items: center;
  }
  .about article:last-of-type h2 {
    text-align: center;
  }
  .about article:last-of-type p {
    text-align: center;
    font-size: 16px;
  }
  .about article:last-of-type div {
    margin-top: 48px;
    flex-flow: column nowrap;
    row-gap: 16px;
  }
  .about article:last-of-type div a {
    text-align: center;
  }
  .about article:last-of-type ul {
    justify-content: center;
  }
  .work {
    flex-flow: column nowrap;
  }
  .work h2 {
    text-align: center;
  }
  .work article:first-of-type h4 {
    font-size: 16px;
  }
  .work article:first-of-type ul {
    margin-left: 0;
    left: 36px;
  }
  .work article:first-of-type ul li {
    margin-left: -10px;
    font-size: 14px;
  }
  .publications article:last-of-type span,
  .training article:last-of-type span {
    display: none;
  }
  .publications article:last-of-type div,
  .training article:last-of-type div {
    min-width: 280px;
    padding: 48px 21px;
    box-shadow: none;
  }
  .publications article:last-of-type:hover span,
  .training article:last-of-type:hover span {
    display: none;
  }
  footer {
    flex-flow: column nowrap;
    row-gap: 48px;
    padding: 48px 14px;
  }
  footer article {
    flex: 0 0 100%;
  }
  footer article:last-of-type {
    justify-content: center;
  }
  nav,
  .hero,
  .about,
  .work,
  .publications,
  .training {
    margin-left: 0;
    margin-right: 0;
    padding-left: 36px;
    padding-right: 36px;
  }
  .hero ul,
  .about ul {
    margin-top: 16px;
  }
  .hero ul li a,
  .about ul li a {
    border-width: 1px;
    font-size: 14px;
  }
  footer article:last-of-type ul li a {
    font-size: 14px;
  }
  h2 {
    font-size: 36px;
  }
}

/*# sourceMappingURL=index.css.map */
