@import "UISystem";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: $m;
  padding: 3rem;
  scroll-behavior: smooth;
  background-color: $background;
  display: flex;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  border-radius: $xxs;
  width: 1200px;
  font: {
    family: "Montserrat";
  }
  background: linear-gradient(
    220deg,
    #f6d3d1ff 2%,
    #f2bbfeff 10%,
    $background 1000px
  );
  border: 1px solid rgba($primary, 0.2);
  box-shadow: 0rem 1rem 1rem 0.5rem rgba($primary, $alpha: 0.1);
}
#root {
  width: 100%;
}

header {
  display: flex;
}

nav {
  margin: {
    top: $h;
    left: $xh;
    right: $xh;
  }
  display: flex;
  align-items: baseline;
  flex: 0 1 100%;
  justify-content: space-between;
  ul {
    display: flex;
    align-items: baseline;
    list-style-type: none;
    column-gap: $xh;
    font: {
      family: "Montserrat Semi Bold";
      size: $m;
    }
    text: {
      transform: capitalize;
    }
    li {
      transition: all 0.3s;
      &:last-of-type {
        background-color: rgba($primary, 0.7);
        a {
          display: block;
          padding: $xxs $h;
          color: $background;
        }
        border-radius: $xxs;
        &:hover {
          background-color: $primary;
        }
      }
      a {
        text-decoration: none;
        color: $heading;
      }
      &:not(:last-of-type):hover {
        transform: scale(1.1);
        a {
          color: $primary;
        }
      }
    }
  }
}

.open-to-work {
  display: flex;
  column-gap: $xxl;
  span {
    position: absolute;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 100%;

    &:first-of-type {
      background-color: $secondary;
    }
    &:nth-of-type(2) {
      background-color: transparent;
      border: 2px solid $secondary;
      animation: flashingLight 3s linear 2s infinite;
    }
    &:last-of-type {
      background-color: rgba($secondary, 0.4);
      animation: flashingLight 2s linear 0s infinite;
    }
  }

  svg {
    animation: flashingLight 2s infinite ease-out alternate;
    border-radius: 100%;
  }
  p {
    font: {
      family: "Montserrat Bold";
    }
    text: {
      transform: uppercase;
    }

    color: $subheading;
  }
}

.hero {
  margin: {
    top: $xh;
    left: $xh;
    right: $xh;
  }
  display: flex;
  article {
    flex: 1 1 50%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $xl;
    &:first-of-type {
      p {
        &:first-of-type {
          color: $primary;
          font: {
            family: "Montserrat Semi Bold";
            size: $xxl;
          }
          text: {
            transform: uppercase;
          }
        }
        &:last-of-type {
          color: $subheading;
          padding: {
            top: $l;
          }
          font: {
            family: "Montserrat Semi Bold";
            size: $xl;
          }

          &::first-letter {
            text: {
              transform: capitalize;
            }
          }
        }
      }
      h1 {
        display: inline-flex;
        flex-flow: column nowrap;
        text: {
          transform: capitalize;
        }
        font: {
          family: "Montserrat Bold";
          size: $xh;
          weight: normal;
        }
        span {
          text: {
            transform: uppercase;
          }
        }
      }
    }
    &:last-of-type {
      align-items: center;
      div {
        width: 450px;
      }
    }
  }
}

.about,
.work,
.projects,
.publications,
.training {
  margin: {
    top: calc(3 * #{$xh});
    left: $h;
    right: $h;
  }
  display: flex;

  padding: {
    left: $h;
    right: $h;
  }
}
.about {
  article {
    flex: 1 1 50%;
    display: flex;
    &:first-of-type {
      justify-content: center;
      align-items: center;
      img {
        width: 348px;
        height: 350px;
        filter: grayscale(0.7) drop-shadow(0rem -4rem 5rem rgba($primary, 0.3))
          drop-shadow(-5rem -5rem 5rem rgba($secondary, 0.4))
          drop-shadow(5rem -5rem 5rem $tertiary);
      }
    }
    &:last-of-type {
      flex-flow: column wrap;
      justify-content: flex-end;
      row-gap: $l;
      p {
        font: {
          size: $l;
        }
        max-width: 40ch;
      }
      div {
        display: flex;
        column-gap: $m;
      }
    }
  }
}

.publications {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  row-gap: $l;
  margin: {
    top: calc(3 * #{$xh});
  }
  position: relative;

  article {
    display: flex;
    flex-flow: row nowrap;
    &:last-of-type {
      column-gap: $xxs;
      overflow-x: scroll;
      @include hideScrollbar;
      width: 100%;
      padding: $h;
      scroll-snap-type: x mandatory;
      &:hover {
        span {
          display: flex;
        }
      }
      span {
        top: 50%;
      }

      div {
        padding: $xxl;
        a {
          text-decoration: none;
          color: $heading;
          &:hover {
            color: $primary;
          }
        }
        p {
          color: $subheading;
          font: {
            size: $s;
          }
          &:first-of-type {
            font: {
              family: "Montserrat Semi Bold";
            }
          }
        }
      }
    }
  }
}

.work {
  article {
    display: flex;
    flex-flow: column wrap;
    flex: 1 1 50%;
    &:first-of-type {
      row-gap: $h;
      h3 {
        display: inline-flex;
        column-gap: $m;
        color: $subheading;
        text: {
          transform: capitalize;
        }
        font: {
          size: $xl;
        }
        svg {
          background-color: $primary;
          color: $background;
          border-radius: 100%;
        }
      }
      p {
        margin: {
          left: $xxl;
        }
        color: $subheading;
        span {
          font: {
            family: "Montserrat Semi Bold";
          }
        }
      }
      ul {
        display: flex;
        flex-flow: column nowrap;
        row-gap: $m;
        list-style-type: none;
        border-left: 2px solid $primary;

        details {
          cursor: pointer;

          summary {
            list-style-type: none;
            color: transparent;
            display: flex;
            flex-flow: column nowrap;
          }
          &[open] {
            h4 {
              svg {
                transform: rotate(90deg);
                transition: all 0.3s;
              }
            }
          }
        }
        li {
          margin-left: -$xs;
        }
        ul {
          border-left: none;
          color: $subheading;
          row-gap: $xxs;

          margin: {
            top: $l;
            left: $xxl;
          }
          li {
            margin-left: 0;
            display: inline-flex;
            align-items: baseline;
            column-gap: $xxs;
            &:before {
              content: "+";
              color: $primary;
            }
          }
        }
      }
    }
    &:last-of-type {
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.training {
  flex-flow: column nowrap;
  row-gap: $xxl;
  position: relative;

  article {
    display: flex;
    column-gap: $xxs;
    &:first-of-type {
      justify-content: center;
    }
    &:last-of-type {
      padding: $h;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      @include hideScrollbar;
      flex-flow: row nowrap;
      width: 100%;

      div {
        padding: $xl;
        p {
          color: $secondary;
          font: {
            size: $l;
            family: "Montserrat Semi Bold";
          }
          text: {
            transform: capitalize;
          }
        }
        h3 {
          font: {
            size: $xl;
          }
        }
        ul {
          max-width: 45ch;
          margin: {
            top: $xl;
          }
          display: inline-flex;
          flex-flow: row wrap;
          list-style-type: none;
          column-gap: $xxs;
          li {
            color: $subheading;
            &:before {
              content: "#";
              color: $secondary;
            }
          }
        }
        a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          color: orange;
          border: 2px solid orange;
          border-radius: 100%;
          height: 40px;
          aspect-ratio: 1;
          margin-top: auto;
          align-self: flex-end;
          font: {
            size: $xl;
          }
          &:hover {
            background-color: orange;
            color: $heading;
          }
        }
      }
      span {
        top: 60%;
      }
    }
  }
}

.projects {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: $h;
  article {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row wrap;
    column-gap:$l;
    row-gap:$l;
    &:last-of-type {

      div {
        display: flex;
        flex-flow: column wrap;
        row-gap:$xxs;
        justify-content: space-between;
        padding: $l $xl;
  
        a {
          font: {
            size: $xl;
            family: "Montserrat Bold";
          }
          text: {
            transform: capitalize;
            decoration: none;
          }
          color: $primary;
        }
        p{
          color:$subheading;
          font:{
            size: $m;
          }
          max-width: 20ch;
        }
        ul{
          list-style-type: none;
          display: flex;
          flex-flow: row wrap;
          column-gap:$xxs;
          
          font:{
            size:$s;
          }
          li{
            &:before{
              content: '#';
              color: $primary;
            }
          }
        }
        border: 1px solid rgba($heading, 0.2);
        border-radius: $xxs;

      }
    }
  }
}

footer {
  display: flex;
  margin: {
    top: $xh;
  }
  background-color: $primary;
  padding: $h;
  display: flex;
  border-bottom: {
    left-radius: $xxs;
    right-radius: $xxs;
  }

  h2 {
    color: $background;
  }
  article {
    flex: 1 1 100%;
    display: flex;
    &:first-of-type {
      flex-flow: column nowrap;
      row-gap: $h;
      form {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        row-gap: $m;
        input,
        textarea {
          outline: none;
          padding: $s;

          font: {
            family: "Montserrat Semi Bold";
            size: $m;
          }
          color: $background;
          border-color: rgba($background, 0.5);
          border-style: solid;
          &:focus {
            border-color: $background;
          }
        }
        input {
          background-color: transparent;
          &::placeholder {
            color: $background;
          }
          border: {
            left: none;
            right: none;
            top: none;
          }
        }
        textarea {
          margin-top: $h;
          resize: none;
          background-color: rgba($background, 0.1);
          border-radius: $xxs;
          aspect-ratio: 1.628;
        }

        button {
          transition: all 0.3s;
          bottom: $xxs;
          right: $xxs;
          position: absolute;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: $xxs;
          border-radius: $h;
          background-color: rgba($background, 0.3);
          color: $background;
          align-self: flex-end;
          cursor: pointer;
          border: none;
          font: {
            family: "Montserrat Semi Bold";
            size: $xl;
          }
          &:hover {
            color: $heading;
            background-color: $background;
          }

          &:disabled {
            background-color: $secondary;
            &:hover {
              color: $background;
              cursor: not-allowed;
            }
          }
        }
      }
    }
    &:last-of-type {
      align-items: flex-end;
      justify-content: flex-end;
      ul {
        display: flex;

        list-style-type: none;
        column-gap: $xl;
        font: {
          size: $xl;
        }
        li {
          a {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            color: rgba($background, 0.7);
            padding: $xxs;
            border-radius: $h;
            background-color: rgba($background, 0.3);

            font: {
              family: "Montserrat Semi Bold";
              size: $l;
            }
            &:hover {
              color: $heading;
              background-color: $background;
            }
          }
        }
      }
    }
  }
}
.publications span,
.training span {
  position: absolute;
  background-color: rgba($primary, $alpha: 0.1);
  transition: all 0.3s;
  font: {
    size: $xl;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  aspect-ratio: 1;
  border-radius: 100%;
  color: $subheading;
  cursor: pointer;
  &[data-direction="left"] {
    left: -$m;
  }
  &[data-direction="right"] {
    right: -$m;
  }
  &:hover {
    background-color: $primary;
    color: $background;
  }
}

.publications article:last-of-type div,
.training article:last-of-type div {
  scroll-snap-align: center;
  flex: 0 0 calc(33% - 0.5 *#{$xxs});
  border: 1px solid rgba($primary, 0.4);
  box-shadow: 0rem 0rem 1rem 0.5rem rgba($primary, $alpha: 0.1);
  border-radius: $xxs;
  display: flex;
  flex-flow: column nowrap;
  row-gap: $xxs;
}

.hero ul,
.about ul {
  margin: {
    top: $xxl;
  }
  list-style-type: none;
  display: flex;
  column-gap: $xl;
  li {
    a {
      transition: all 0.3s;
      display: inline-flex;
      color: $primary;
      padding: $xxs;
      border: 2px solid $primary;
      border-radius: 50%;
      &:hover {
        background-color: $primary;
        color: $background;
      }
      font: {
        size: $xl;
      }
    }
  }
}

.btn {
  transition: all 0.3s;
  padding: $s $xxl;
  text: {
    decoration: none;
  }
  &:first-letter {
    text: {
      transform: capitalize;
    }
  }
  border-radius: $xxs;
  min-width: 100px;
  height: 50px;
  opacity: 0.8;

  font: {
    family: "Montserrat Semi Bold";
  }
}
.primary-btn {
  background-color: $primary;
  color: $background;
  &:hover {
    opacity: 1;
  }
}
.secondary-btn {
  background-color: transparent;
  color: $secondary;
  border: 2px solid $secondary;
  &:hover {
    background-color: $secondary;
    color: $background;
  }
}
h2 {
  font: {
    family: "Montserrat Bold";
    size: $h;
    weight: normal;
  }
  text: {
    transform: capitalize;
  }
}

h3,
h4 {
  font: {
    family: "Montserrat Bold";
    weight: normal;
  }
}
@keyframes flashingLight {
  0% {
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@import "Tablet.scss";
@import "Mobile.scss";
