// Mobile
@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  html {
    padding: 0;
  }
  body {
    width: 100vw;
    border: none;
  }
  body,
  footer {
    border-radius: 0;
  }

  nav {
    ul {
      display: none;
    }
  }

  .open-to-work {
    p {
      font: {
        size: $xs;
      }
    }
  }

  .hero {
    flex-flow: column nowrap;
    row-gap: $xxl;
    article {
      &:first-of-type {
        row-gap: 0;
        p {
          &:first-of-type {
            font: {
              size: $xl;
            }
          }
          &:last-of-type {
            font: {
              size: $m;
            }
          }
        }
        h1 {
          font: {
            size: $xxl;
          }
        }
      }
      &:last-of-type {
        align-items: flex-end;
        div {
          width: 200px;
        }
      }
    }
  }

  .about {
    flex-flow: column nowrap;
    article {
      flex: 1 1 100%;
      &:first-of-type {
        img {
          width: 250px;
        }
      }
      &:last-of-type {
        align-items: center;
        h2 {
          text-align: center;
        }
        p {
          text-align: center;
          font: {
            size: $m;
          }
        }
        div {
          margin: {
            top: $h;
          }
          flex-flow: column nowrap;
          row-gap: $m;
          a {
            text-align: center;
          }
        }
        ul {
          justify-content: center;
        }
      }
    }
  }

  .work {
    flex-flow: column nowrap;

    h2 {
      text-align: center;
    }
    article {
      &:first-of-type {
        h4 {
          font: {
            size: $m;
          }
        }
        ul {
          li {
            margin-left: -$xxs;
            font: {
              size: $s;
            }
          }
          margin: {
            left: 0;
          }
          left: $xxl;
        }
      }
    }
  }

  .publications, .training {
    article {
      &:last-of-type {
        span {
          display: none;
        }
        div {
          min-width: 280px;
          padding: $h $xl;
          box-shadow: none;
        }
        &:hover {
          span {
            display: none;
          }
        }
      }
    }
  }



  footer {
    flex-flow: column nowrap;
    row-gap: $h;
    padding: $h $s;
    article {
      flex: 0 0 100%;
      &:last-of-type{
        justify-content: center;
      }
    }
  }

  nav,
  .hero,
  .about,
  .work,
  .publications,
  .training {
    margin: {
      left: 0;
      right: 0;
    }

    padding: {
      left: $xxl;
      right: $xxl;
    }
  }

  .hero ul,
  .about ul {
    margin-top: $m;
    li {
      a {
        border-width: 1px;
        font: {
          size: $s;
        }
      }
    }
  }
  h2 {
    font: {
      size: $xxl;
    }
  }
}
