// Tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #root {
    width: 90vw;
  }
  header {
    flex-flow: column nowrap;
    align-items: center;
    row-gap: $m;
  }
  nav {
    padding: 0;
    width: 250px;
    ul {
      flex: 0 0 100%;
    }
  }
  .open-to-work {
    margin-top: $m;
    span {
      right: 45%;
      top: $m;
    }
    p {
      margin-left: 0;
    }
  }

  .hero {
    article {
      &:first-of-type {
        flex: 1 1 40%;
        padding: $h;
      }
      &:last-of-type {
        flex: 1 1 30%;
        img {
          object-fit: cover;
        }
      }
    }
  }

  .about {
    flex-flow: column nowrap;
    row-gap: $xh;
    article {
      flex-flow: column nowrap;
      p {
        &:first-of-type {
          flex: 0 0 100%;
          max-width: 80px;
        }
      }
      &:last-of-type {
        div {
          width: 70%;
        }
      }
    }
  }

  .experience {
    article {
      ul {
        min-width: 80%;
        li {
          details {
            ul {
              li {
                max-width: 350px;
              }
            }
          }
        }
      }
    }
  }
  .publications {
    article {
      &:last-of-type {
        width: 100%;

        svg {
          display: none;
        }
      }
    }
  }
  .training {
    article {
      &:last-of-type {
        div {
          width: 100%;
          svg[data-direction] {
            display: none;
          }
        }
      }
    }
  }
}
